/* CSS Document*/
@charset"UTF-8";

@font-face {
    font-family: "Lato regular";
    src: url(fuentes/Lato-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato bold italic";
    src: url(fuentes/Lato-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

* {
    font-family: "Lato regular";
    text-wrap-style: balance;
    line-height: 24px;
    font-size: 20px;
    margin: 0;
    padding: 20;
}

h1 {
    font-family: "hagrid", sans-serif;
    color: blueviolet;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 35px;
}

h2 {
    font-family: "Lato bold italic";
    font-size: 1.5rem;
    color: rgb(27, 1, 34);
    height: 30px;
    padding-left: 35px;

}

h3 {
    padding-left: 35px;
    font-family: "hagrid";
    font-size: 1rem;
    background-color: lightgray;
    height: 70px;
    margin-block: 30px;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #be91e7;
    flex-wrap: wrap;
    padding: 15px;
}

nav {
    display: flex;
    gap: 15px;
}

a{
    color: rgb(27, 1, 34);
}

p {
    padding-left: 35px;
}

h4 {
    height: 50px;
    background-color:  #be91e7;
    display: flex;
    align-items: flex-end;
    color: white;
    justify-content: space-around;
}


#Contacto{
    background-color:  #bac;
    padding-bottom: 30px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    font-family: "Lato bold italic";
    font-size: 20px;
    color: #993dee;
    line-height: 25px;
}